.linkHead {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkBody {
    list-style: none;
    width: 50%;
}

.linkBody li {
    border-radius: 8px;
    width: 100%;
    height: 3rem;
    padding-top: 0.4rem;
    background-color: #3730a3;
    text-align: center;
    margin-bottom: 1rem;

    transition: background 0.2s;

}

.linkBody li svg {
    transform: translateY(0.4rem);
}


.linkBody li:hover {
    background-color: #7dd3fc;
}


.linkBody a {
    color: white;
    text-decoration: none;
}