.title {
    margin-bottom: 2rem;
}

.cover {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    border-bottom: 2px solid #3730a3;

    transition: all 0.8s;
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textWithLight {
    color: #1e40af;
}

.textWithDark {
    color: #bae6fd;
}

.profile strong {
    margin-top: 0.4rem;
}

.profile span svg {
    padding-top: 0.4rem;
}

.profile img {
    width: calc(8rem + 12px);
    height: calc(8rem + 12px);
    border-radius: 10px;
    margin-top: calc(0px - 4.5rem - 6px);

    transition: all 0.5s;
}

.profileWithDark {
    border: 4px solid #1e3a8a;
    outline: 2px solid #3730a3;
}

.profileWithLight {
    border: 4px solid #bfdbfe;
    outline: 2px solid #3730a3;
}




@media(max-width: 758px) {
    html {
        font-size: 14px;
    }
}